In [7]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

from eda.data_load import load_data_prepare_x

%load_ext autoreload
%autoreload 2

In [3]:
# Para ver filepath
import os
os.listdir()

['.git',
 '.ipynb_checkpoints',
 '1_EDA.ipynb',
 'data',
 'eda',
 'LICENSE',
 'model',
 'README.md']

In [11]:
load_data_prepare_x('data/train.csv')

,SibSp,Parch,Fare,Pclass,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,7.2500,3,0,1,0,0,1
1,1,0,71.2833,1,1,0,1,0,0
2,0,0,7.9250,3,1,0,0,0,1
3,1,0,53.1000,1,1,0,0,0,1
4,0,0,8.0500,3,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...
886,0,0,13.0000,2,0,1,0,0,1
887,0,0,30.0000,1,1,0,0,0,1
888,1,2,23.4500,3,1,0,0,0,1
889,0,0,30.0000,1,0,1,1,0,0
890,0,0,7.7500,3,0,1,0,1,0